.nav-bar {
    background-color: var(--background-reversed-color);
    color: var(--text-reversed-color);
    height: 100px;
    display: flex;
    padding-left: 20px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;

    &__item {
        font-size: 28px;
        margin: 16px 16px;
    }
}